/*html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}*/

body, input {
	text-align: center;
}

input {
	margin: 2px;
}

button {
	font-size: 20px;
	margin: 10px;
}

table {
	width: 100%;
	margin: auto;
	table-layout: fixed;
}

th {
	border: 3px black;
}

td {
	border: 1px black;
}

#defaultText {
	color: red;
	font-size: 30px;
}

#monthCost {
	color: green;
	font-size: 30px;
	border: 1px black;
}
